<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/styles.css"
</head>
<body id="card">
<form class="container" action="/submit" method="post">  
<div class="container">
    <div class="card">
     <h1>Question: <%= locals.Question.country %> </h1>
     <input class="inp" type="text" name="answer" id="userInput" placeholder="Enter the capital" autofocus autocomplete="off">
     <h3> total score : <%= locals.scoring %></h3>
      <button class="sub">submit</button>
    </div>
</div>
</form>  
<script>

var wascorrect = "<%= locals.correct %>";
if (wascorrect === "false"){
    alert("game over your score is <%=locals.scoring %> refresh to start new")
    document.getElementById("card").innerHTML = '<a href="/" class="restart-button">Restart</a>'
}

</script>





</body>
</html>